# Arise Application Challenge
---

Please answer the questions shown below by completing the code within this notebook and filling in your final answers in the respective block of the arise Challenge Answers form.

---

### Step 1 (this step does not have an answer in the answer form)

Please import the Pandas package. You will need to install the package if you do not already have them (`hint - google anaconda install pandas`).

In [1]:
# Add your code for Question 1 in this code block
import pandas as pd
#pd.set_option("display.max_row", 30)

---

### Step 2 (this step does not have an answer in the answer form)

Use Pandas to read in the csv titled `application_data.csv` as a Panda's dataframe. Once you have read in the data as a dataframe use Panda's `head()` function to show an overview of the data.

In [3]:
# Add your code for Question 2 in this code block

df = pd.read_csv("arise_application.csv")
header = df.head()

header

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate
0,839247458,302953235622,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-16
1,217540860,302960101337,2018-12-23,1,7500.0,30.0,30,2019-01-22,2018-12-29
2,522238092,303016988846,2019-01-08,1,7500.0,30.0,30,2019-02-07,2019-01-08
3,096754469,302999605504,2019-01-04,1,7500.0,30.0,30,2019-02-03,2019-01-08
4,410354345,302951945878,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-17

# You should now be able to see that the dataset contains information relating to loans that have been disbursed. Each row of the data is specific to a particular loan and displays the customer's ID that took out the loan, a unique loan ID, the date when the client applied for the loan, the loan number of the specific loan (how many loans the client has now taken out), the amount, interest rate, term days, the date when the loan repayment was due and the date the loan was actually repaid.

---

### Question 1

Convert `appilcationDate`, `repaymentDueDate` and `repaymentPaidDate` in the dataframes to datetimes.

In [4]:
# convert to dates
df['appilcationDate'] = pd.to_datetime(df['appilcationDate'])
df['repaymentDueDate'] = pd.to_datetime(df['repaymentDueDate'])
df['repaymentPaidDate'] = pd.to_datetime(df['repaymentPaidDate'])

header

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate
0,839247458,302953235622,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-16
1,217540860,302960101337,2018-12-23,1,7500.0,30.0,30,2019-01-22,2018-12-29
2,522238092,303016988846,2019-01-08,1,7500.0,30.0,30,2019-02-07,2019-01-08
3,096754469,302999605504,2019-01-04,1,7500.0,30.0,30,2019-02-03,2019-01-08
4,410354345,302951945878,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-17

Now that the dates have been converted, How many `unique`data types are contained within the application dataset?

In [5]:
# data types

df.dtypes.unique()

array([dtype('O'), dtype('<M8[ns]'), dtype('int64'), dtype('float64')],
      dtype=object)

### Question 2

Please calculate the `average` loan amount, interest rate and termdays for all the loans in the dataset? `Round` all number to two decimal places.

In [6]:
#Average loan amount 
#group_loan = df.groupby(by = "LoanAmount")



df["LoanAmount"].mean().round(2)

13828.08

In [7]:
# 2b avg interest rate
#group_interest = df.groupby(by = "InterestRate")

df["InterestRate"].mean().round(2)

23.06

In [8]:
# 2c avg term days 
#group_term = df.groupby(by = "TermDays")
df["TermDays"].mean().round(2)

42.08

---

### Question 3

Please create a new column called `dateDifference` which needs to contains the number of days between when the loan was repaid and when it was due to be repaid. 

Count the number of loans that were paid more than 3 days late. This can be done by first creating a dataframe only containing the loans that were paid more than 3 days late.

In [9]:
# date difference repaymentDueDate	repaymentPaidDate

#group_paidDate = df.groupby(by = "repaymentDate")
#group_dueDate = df.groupby(by = "repaymentDueDate")

#difference = df['repaymentPaidDate'] - df['repaymentDueDate']
difference = df['repaymentPaidDate'] - df['repaymentDueDate']


df["dateDifference"] = difference

df["dateDifference"]

0      -4 days
1     -24 days
2     -30 days
3     -26 days
4      -3 days
        ...
995   -25 days
996    -1 days
997   252 days
998    -2 days
999   -13 days
Name: dateDifference, Length: 1000, dtype: timedelta64[ns]

In [10]:
# number of loans more than 3 days late
#group_dateDifference = df.groupby(by = "dateDifference")


date_diff_as_int = df["dateDifference"].dt.days #

filter_for_3days = date_diff_as_int > 3

df[filter_for_3days]

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate,dateDifference
397,GH35460722,100016172,2018-01-30,5,80.0,15.0,15,2018-02-14,2018-03-01,15 days
410,GH85390929,100015715,2018-01-27,2,80.0,15.0,15,2018-02-12,2018-02-16,4 days
419,GH06832511,100014400,2018-01-20,1,80.0,15.0,15,2018-02-05,2018-02-14,9 days
424,GH26139148,100017099,2018-02-04,2,80.0,15.0,15,2018-02-19,2018-02-27,8 days
426,GH03825373,100012495,2018-01-13,1,80.0,15.0,15,2018-01-29,2018-02-13,15 days
...,...,...,...,...,...,...,...,...,...,...
978,189301655,302565959911,2018-10-13,2,7500.0,30.0,30,2018-11-12,2018-11-20,8 days
980,874756930,302885631,2018-03-07,2,7500.0,30.0,30,2018-04-06,2018-04-17,11 days
983,351491824,302607848,2018-01-08,1,7500.0,30.0,30,2018-02-09,2018-05-09,89 days
987,576830620,302856088,2018-03-01,3,7500.0,30.0,30,2018-03-31,2018-07-12,103 days
997,899011279,302585439,2018-01-03,3,7500.0,30.0,30,2018-02-02,2018-10-12,252 days

In [11]:
late_payment = df[filter_for_3days]

late_payment.shape[0]

145

---

### Question 4

Please group the dataset by `TermDays` and calculate the `mean` loan amount and the `standard deviation` of loan amount within each term.

What is the mean loan amount in 30-day loans and what is the standard deviation of  loan amount in 90-day loans? Please give your answers to the nearest two decimal places.

In [21]:
# mean loan amount in 30-day loans and standard deviation of loan amount in 90-day loans

group_term = df[["TermDays", "LoanAmount", "InterestRate"]].groupby(by = "TermDays")
# group_term = df.groupby(by = "TermDays")
group_term.agg(["mean", "std"])

            LoanAmount               InterestRate
                  mean           std         mean       std
TermDays
15         1274.088050   2885.967406    15.000000  0.000000
30         7941.964286   1606.039495    28.562143  4.034005
45        10706.250000   2346.143820    28.732500  5.773965
60        25710.526316  11559.646185    15.055789  3.632352
90        37672.727273  18050.140602    10.645455  2.180963
120       45055.555556  22192.966854    11.666667  1.000000
180       80988.095238  34612.222587     6.250000  1.265152

In [22]:
#Max



interest_rate = group_term["InterestRate"].agg(["max", "mean"])
max_rate_15_days = interest_rate.loc[15][0]
mean_rate_60_days = interest_rate.loc[60][1]
print(max_rate_15_days)
print(mean_rate_60_days)

15.0
15.05578947368421

In [23]:
mean_standard = group_term["LoanAmount"].agg(["mean", "std"])
mean_30_days_loan =mean_standard.loc[30].round(2)[0]
mean_90_days_loan = mean_standard.loc[90].round(2)[1]

print("Mean 30 days : ",mean_30_days_loan)
print("standard Deviation 90 days : ",mean_90_days_loan)

Mean 30 days :  7941.96
standard Deviation 90 days :  18050.14

---

### Question 5

`Late` loans are defined as loans that were paid `more than 3 days` after their due date. Please find the average number of days that these loans were paid beyond their due date for each `week of the year`. This will require you to break all `appilcationDate's` down into the week of the year they were made and then perform a group by. 

What is the average number of days that `late` loans applied for in the second week of the year were paid late? Please sumbit your answer rounded to two decimal places.

In [24]:
# week of year and average number of late days
applicationWeek = late_payment["appilcationDate"].dt.week

applicationWeek

397     5
410     4
419     3
424     5
426     2
       ..
978    41
980    10
983     2
987     9
997     1
Name: appilcationDate, Length: 145, dtype: int64

In [29]:
apilcation_week = late_payment["appilcationDate"].dt.week 

late_payment['apilcationWeek'] = apilcation_week

late_payment

C:\Users\OHIZA SEFIYAH\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate,dateDifference,apilcationWeek
397,GH35460722,100016172,2018-01-30,5,80.0,15.0,15,2018-02-14,2018-03-01,15 days,5
410,GH85390929,100015715,2018-01-27,2,80.0,15.0,15,2018-02-12,2018-02-16,4 days,4
419,GH06832511,100014400,2018-01-20,1,80.0,15.0,15,2018-02-05,2018-02-14,9 days,3
424,GH26139148,100017099,2018-02-04,2,80.0,15.0,15,2018-02-19,2018-02-27,8 days,5
426,GH03825373,100012495,2018-01-13,1,80.0,15.0,15,2018-01-29,2018-02-13,15 days,2
...,...,...,...,...,...,...,...,...,...,...,...
978,189301655,302565959911,2018-10-13,2,7500.0,30.0,30,2018-11-12,2018-11-20,8 days,41
980,874756930,302885631,2018-03-07,2,7500.0,30.0,30,2018-04-06,2018-04-17,11 days,10
983,351491824,302607848,2018-01-08,1,7500.0,30.0,30,2018-02-09,2018-05-09,89 days,2
987,576830620,302856088,2018-03-01,3,7500.0,30.0,30,2018-03-31,2018-07-12,103 days,9
997,899011279,302585439,2018-01-03,3,7500.0,30.0,30,2018-02-02,2018-10-12,252 days,1

---

In [31]:
date_difference_to_int = late_payment["dateDifference"].dt.days

late_payment["late_days_int"] = date_difference_to_int

late_payment

C:\Users\OHIZA SEFIYAH\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate,dateDifference,apilcationWeek,late_days_int
397,GH35460722,100016172,2018-01-30,5,80.0,15.0,15,2018-02-14,2018-03-01,15 days,5,15
410,GH85390929,100015715,2018-01-27,2,80.0,15.0,15,2018-02-12,2018-02-16,4 days,4,4
419,GH06832511,100014400,2018-01-20,1,80.0,15.0,15,2018-02-05,2018-02-14,9 days,3,9
424,GH26139148,100017099,2018-02-04,2,80.0,15.0,15,2018-02-19,2018-02-27,8 days,5,8
426,GH03825373,100012495,2018-01-13,1,80.0,15.0,15,2018-01-29,2018-02-13,15 days,2,15
...,...,...,...,...,...,...,...,...,...,...,...,...
978,189301655,302565959911,2018-10-13,2,7500.0,30.0,30,2018-11-12,2018-11-20,8 days,41,8
980,874756930,302885631,2018-03-07,2,7500.0,30.0,30,2018-04-06,2018-04-17,11 days,10,11
983,351491824,302607848,2018-01-08,1,7500.0,30.0,30,2018-02-09,2018-05-09,89 days,2,89
987,576830620,302856088,2018-03-01,3,7500.0,30.0,30,2018-03-31,2018-07-12,103 days,9,103
997,899011279,302585439,2018-01-03,3,7500.0,30.0,30,2018-02-02,2018-10-12,252 days,1,252

### The End

In [37]:
group_by_appilcation = late_payment[["apilcationWeek", "late_days_int"]].groupby(by = "apilcationWeek")

variable = group_by_appilcation.mean()

variable.loc[2].late_days_int

45.75

Thank you for completing the challenge. Please make sure you have submitted all of your answers to the arise Challenge Answers form.